<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="XYZ Bank Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="XYZ Bank App Test Cases">
		<classes>
			<class name="com.xyz.qa.testcases.Manager_ACTc" />
			<class name="com.xyz.qa.testcases.Manager_OATc" />
			<class name="com.xyz.qa.testcases.Login_Tc" />
			<class name="com.xyz.qa.testcases.C_AccountTc" />
         	<class name="com.xyz.qa.testcases.Transaction_Tc" />
         	<class name="com.xyz.qa.testcases.Deposit_Tc" />
            <class name="com.xyz.qa.testcases.Withdraw_Tc" />
			</classes>
	</test>
</suite>
